body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

.container {
    max-width: 768px;
    padding-top: 20px;
    margin: auto;
}

input#add {
    width: 100%;
    height: 42px;
    text-indent: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

[draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

ul:before {
    content: "No items Added";
    position: absolute;
    right: 0;
    left: 0;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    top: 15px;
    z-index: -1;
}

ul li {
    position: relative;
    z-index: 1;
    list-style-type: none;
    background: #fff;
    width: 100%;
    display: block;
    padding: 0;
    padding: 16px 16px 16px 40px;
    font-size: 14px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

ul li label {
    display: block;
}

ul li:focus,
ul li:hover,
ul li:active {
    background: #fffcfc;
}

ul li:first-of-type {
    border-top: 1px solid #e0e0e0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul li:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

ul li .options {
    font-size: 12px;
    margin-top: 10px;
}

ul li .options a {
    margin-right: 10px;
    color: #2980b9;
    text-decoration: none;
}

ul li.column.dragElem {
    opacity: #fffcfc;
    border-radius: 4px;
}

ul li.column.over {
    border: 2px dashed #2980b9;
}

ul li.column .imp {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #e0e0e0;
    font-size: 18px;
    text-decoration: none;
}

ul li.column .imp:hover {
    text-decoration: none;
}

ul li.imp-task .imp {
    color: #e67e22;
}

ul li .done-img {
    display: none;
    position: absolute;
    left: 16px;
    top: 16px;
    color: #27ae60;
    text-decoration: none;
}

ul li.done .done-img {
    display: block;
    color: #27ae60;
}

ul li .date {
    color: #90949c;
}